@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello and welcome to our Assetto Corsa Racing Hub. This is the beginning of a wonderful thing. With an expansive community within Assetto Corsa we wanted to offer the community a way to connect as well as offer a competitive environment if you do so wish.</p>
