@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
     This site is very much still under construction and if you have any suggestions or information to offer please reach out.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ACRachingHub@gmail.com</a><br />
</address>