@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find A Race Now!</h1>
    <p class="lead">Are you ready to find a race for yourself?</p>
    <p><a href="https://localhost:44385/Race/Index" class="btn btn-primary btn-lg">LETS GO!!! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Download Assetto Corsa</h2>
        <p>
            Haven't already downloaded the game? No time like the present!
        </p>
        <p><a class="btn btn-default" href="https://www.assettocorsa.it/competizione/">Go to Site &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Have Tips?</h2>
        <p>We are always looking to improve and keep the community involved. Let us know your thoughts!</p>
        <p><a class="btn btn-default" href="https://localhost:44385/Home/Contact">Got Tips? &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>